{#
  ./templates/tags/index.html.twig
  Variables disponibles:
    - tags Array((id, nom, slug))
#}
<ul class="list-unstyled mb-0">
  {% for tag in tags %}
<li>
  <a href="{{ path('app.tags.show', {
                      'id': tag.id,
                      'slug': tag.slug
                }) }}">{{ tag.nom }}</a>
</li>
  {% endfor %}
</ul>
