{#
  ./templates/tags/show.html.twig
  Variables disponibles:
    - tags Array((id, nom, slug))
    - Creature ((id, nom, slug, texteLead,texteSuite, dateCreation))
#}
{% extends 'base.html.twig' %}


{% block title %}{{tag.nom}}{% endblock %}
{% block content1 %}

<!-- Page Heading -->

<!-- Title -->
<h1 class="mt-4">{{tag.nom}}</h1>

<hr>
<h2>Liste des Créatures avec le tag : {{tag.nom}}</h2>
<hr>

{% for creature in tag.creature %}
<!-- Project One -->
<div class="row">
  <div class="col-md-4">
    <a href="#">
      <img class="img-fluid rounded mb-3 mb-md-0" src="{{ asset('build/'~creature.image~'')}}" alt="">
    </a>
  </div>
  <div class="col-md-8">
    <h3>{{creature.nom}}</h3>
    <p class="lead">
      dans
      <a href="{{path('app.films.show',{id:creature.film.id,slug:creature.film.slug})}}">{{creature.film.titre}}</a>
    </p>
    <p>{{creature.texteLead}}</p>
    <a class="btn btn-primary" href="{{ path('app.creatures.show', {
                        'id': creature.id,
                        'slug': creature.slug
                  }) }}">Voir la créature</a>
    <hr/>
    <ul class="list-inline tags">
{% for tag in creature.tag %}
<li><a href="{{ path('app.tags.show', {
                    'id': tag.id,
                    'slug': tag.slug
              }) }}" class="btn btn-default btn-xs">{{tag.nom}}</a></li>
{% endfor %}
    </ul>
  </div>
</div>
{% endfor %}

<!-- /.row -->

<hr>


{% endblock %}
