{#
  ./templates/partials/footer.html.twig
#}
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; IEPS 2017 <!-- | <a href="login.html">Administration</a>--></p>
  </div>
  <!-- /.container -->
</footer>
