{#
  ./templates/partials/nav.html.twig
#}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
<div class="container">
  <a class="navbar-brand" href="{{ path('app.homepage') }}">Vintage Sci-Fi - Les Créatures du Futur</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">

    {{ render(controller('App\\Controller\\PagesController::indexAction',{route:app.request.attributes.get('_route'),id:app.request.attributes.get('id')})) }}
  </div>
</div>
</nav>
