{#
  ./templates/partials/scripts.html.twig
#}
<!-- <script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
