{#
  ./templates/films/show.html.twig
  Variables disponibles:
    - film Array((id, titre, synopsy, slug))
    -Creature ((id, nom, slug, texteLead,texteSuite, dateCreation))
#}
{% extends 'base.html.twig' %}


{% block title %}{{film.titre}}{% endblock %}
{% block content1 %}

<!-- Title -->
<h1 class="mt-4">{{film.titre}}</h1>

<hr>

<!-- Project One -->
<div class="row">
<div class="col-md-4">
  <a href="#">
    <img class="img-fluid rounded mb-3 mb-md-0" src="{{ asset('build/'~film.image~'')}}" alt="">
  </a>
</div>
<div class="col-md-8">
  <p class="lead">{{film.synopsis}}</p>
  <hr/>
  <h2>Créatures du film</h2>


  <ul>
    {% for creature in creatures %}
      <li><a href="{{path('app.creatures.show',{id:creature.id,slug:creature.slug})}}">{{creature.nom}}</a></li>
    {% endfor %}


  </ul>


</div>
</div>
<!-- /.row -->
<hr>

{% endblock %}
