{#
  ./templates/pages/index.html.twig
  Variables disponibles:
    - pages Array(((id, titre, synopsy, slug,texte,tri))
#}
<ul class="navbar-nav ml-auto">
{% for page in pages %}


<li class="nav-item">
  <a class="nav-link {% if route is same as('app.pages.show') and (id == page.id) %}active {% elseif route is same as('app.homepage')and page.id == id %}active{% endif %}"  href="{{ path('app.pages.show', {
                      'id': page.id,
                      'slug': page.slug
                }) }}">{{page.titre}}</a>
</li>
{% endfor %}

</ul>
