{#
  ./templates/pages/show.html.twig
  Variables disponibles:
    - pages Array(Page(id, titre, slug, texte, tri))
#}
{% extends 'base.html.twig' %}



{% block title %}{{page.titre}}{% endblock %}
{% block content1 %}
{% for flash_message in app.session.flashBag.get('message') %}
    <div class="flash-notice">
      {{ flash_message }}
    </div>
{% endfor %}
<h1 class="mt-4">{{page.titre}}</h1>

<!-- Title -->
<hr>
<!-- Post Content -->
<p class="lead">{{page.texte}}</p>


{% if page.id == 1 %}
<hr>
<!-- Title -->
<h2 class="mt-4">Dernieres créatures</h2>

<hr>

{{ render(controller('App\\Controller\\CreaturesController::indexAction', {
              vue: 'liste',
              limit:5
})) }}

{% elseif page.id == 2 %}
<hr>
{{ render(controller('App\\Controller\\FilmsController::indexAction')) }}

{% elseif page.id == 3 %}
<a class="btn btn-primary" href="{{path('app.creatures.add')}}">Ajouter une créature</a>
  <hr>
{{ render(controller('App\\Controller\\CreaturesController::indexAction',{
              vue: 'index',
              limit:5
})) }}

{% endif %}
{% endblock %}
