{#
  ./templates/pages/add.html.twig
  Variables disponibles:
    - creatures(id, nom, slug, texteLead,texteSuite, dateCreation)
    - tags Array((id, nom, slug))
    - films Array((id, titre, synopsy, slug)
    - form (Form)
#}

{% extends 'base.html.twig' %}
{% block title %}Add a creature{% endblock %}
{% block content1 %}

<div class="" style="margin:2rem 0 2rem 0;">
  {{ form_start(form) }}
    <div class="champ-titre">
      <span>{{ form_label(form.nom) }}</span>
      <span>{{ form_widget(form.nom ,{attr:{class: 'test'}}) }}</span>
      <span>{{ form_errors(form.nom) }}</span>
    </div>
     <div class="champ-texte">{{ form_row(form.textelead) }}</div>
     <div class="champ-texte">{{ form_row(form.textesuite) }}</div>
   <div class="checkbox" style="column-count:2;">
       {% for tag in form.tag %}
        <div>
          {{ form_widget(tag) }}
          <span>{{ form_label(tag) }}</span>
          <span>{{ form_errors(tag) }}</span>
        </div>
         {% endfor %}
     </div>
   {{ form_rest(form) }}
  {{ form_end(form) }}
</div>

{% endblock %}
