
{#
  ./templates/pages/index.html.twig
  Variables disponibles:
    - Creatures Array((id, nom, slug, texteLead,texteSuite, dateCreation))
    - tags Array((id, nom, slug))
    - films Array((id, titre, synopsy, slug)
#}


{% for creature in creatures %}
<!-- Project One -->
<div class="row">
  <div class="col-md-4">
    <a href="#">
      <img class="img-fluid rounded mb-3 mb-md-0" src="{{ asset('build/'~creature.image~'')}}" alt="">
    </a>
  </div>
  <div class="col-md-8">
    <h3>{{creature.nom}}</h3>
    <p class="lead">
      dans
      <a href="{{path('app.films.show',{id:creature.film.id,slug:creature.film.slug})}}">{{creature.film.titre}}</a> le {{creature.dateCreation |date('Y-m-d') }}
    </p>
    <p>{{creature.texteLead}}</p>

    <div>
      <a class="btn btn-primary" href="{{ path('app.creatures.show', {
                          'id': creature.id,
                          'slug': creature.slug
                    }) }}">Voir la créature</a>

      <a class="btn btn-secondary" href="{{path('app.creatures.edit',{id:creature.id,slug:creature.slug})}}">Modifier</a>
      <form action="{{ path('app.creatures.delete', {id: creature.id, slug: creature.slug }) }}" method="post" onSubmit="return confirm('Are you sure ?')" style="display:inline-block;">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ creature.id) }}" />
        <button class="btn btn-secondary">Supprimer</button>
      </form>
    </div>
    <hr/>
    <ul class="list-inline tags">
      {% for tag in creature.tag %}
        <li><a href="{{ path('app.tags.show', {
                            'id': tag.id,
                            'slug': tag.slug
                      }) }}" class="btn btn-default btn-xs">{{tag.nom}}</a></li>
      {% endfor %}

    </ul>
  </div>
</div>
<!-- /.row -->



{% endfor %}
