{#
  ./templates/creatures/liste.html.twig
  Variables disponibles:
    - creatures Array((id, nom, slug, texteLead,texteSuite, dateCreation))
    - tags Array((id, nom, slug))
    - films Array((id, titre, synopsy, slug)
#}
{% block content1 %}
<!-- Project One -->
<div class="row">
  {% for creature in creatures %}
  <div class="col-md-4">
    <a href="#">
      <img class="img-fluid rounded mb-3 mb-md-0" src="{{ asset('build/'~creature.image~'')}}" alt="{{creature.slug}}">
    </a>
  </div>
  <div class="col-md-8">
    <h3>{{creature.nom}}</h3>
    <p class="lead">
      dans
      <a href="{{path('app.films.show',{id:creature.film.id,slug:creature.film.slug})}}">{{creature.film.titre}}</a> le {{creature.dateCreation |date('Y-m-d') }}
    </p>
    <p>{{creature.texteLead}}</p>
    <a class="btn btn-primary" href="{{ path('app.creatures.show', {
                        'id': creature.id,
                        'slug': creature.slug
                  }) }}">Voir la créature</a>
    <hr/>
    <ul class="list-inline tags">

      <!-- A FINIR !!!!!!!! -->

      {% for tag in creature.tag %}
<li><a href="{{ path('app.tags.show', {
                    'id': tag.id,
                    'slug': tag.slug
              }) }}" class="btn btn-default btn-xs">{{tag.nom}}</a></li>
      {% endfor %}

      {#{{ render(controller('App\\Controller\\tagsController::indexAction',{ 'id': creature.id })) }}#}
    </ul>
  </div>
  <hr>
  {% endfor %}
</div>
<!-- /.row -->
{% endblock %}
