{#
  ./templates/creatures/search.html.twig
  Variables disponibles:
    - creature Array((id, nom, slug, texteLead,texteSuite, dateCreation))
    - tags Array((id, nom, slug))
    - films Array((id, titre, synopsy, slug)
#}


{% extends 'base.html.twig' %}



{% block title %}Résultats de votre recherche : <small>{{search}}</small>{% endblock %}
{% block content1 %}
<h1 class="mt-4">Résultats de votre recherche : <small>{{search}}</small></h1>
<hr>
{% include 'creatures/liste.html.twig'%}
{% endblock %}
