{#
  ./templates/creatures/show.html.twig
  Variables disponibles:
    - creature Array((id, nom, slug, texteLead,texteSuite, dateCreation))
    - tags Array((id, nom, slug))
    - films Array((id, titre, synopsy, slug)
#}
{% extends 'base.html.twig' %}


{% block title %}{{creature.nom}}{% endblock %}
{% block content1 %}


      <!-- Title -->
      <h1 class="mt-4">{{creature.nom}}</h1>
<!-- Project One -->
<div class="row">
  <div class="col-md-6">
    <a href="#">
      <img class="img-fluid rounded mb-3 mb-md-0" src="{{ asset('build/'~creature.image~'')}}" alt="{{creature.slug}}">
    </a>
  </div>
  <div class="col-md-6">
    <p class="lead">{{creature.texteLead}}</p>
    <hr/>
    <p>{{creature.texteSuite}}</p>
    <div>
      <a class="btn btn-primary" href="{{path('app.creatures.edit',{id:creature.id,slug:creature.slug})}}">Modifier</a>
      <form action="{{ path('app.creatures.delete', {id: creature.id, slug: creature.slug }) }}" method="post" onSubmit="return confirm('Are you sure ?')" style="display:inline-block;">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ creature.id) }}" />
        <button class="btn btn-secondary">Supprimer</button>
      </form>
    </div>
    <hr/>
    <ul class="list-inline tags">
      {% for tags in creature.tag %}
      <li><a href="{{ path('app.tags.show', {
                          'id': tags.id,
                          'slug': tags.slug
                    }) }}" class="btn btn-default btn-xs">{{tags.nom}}</a></li>
      {% endfor %}


    </ul>
  </div>
</div>
<!-- /.row -->
<hr>


{% endblock %}
