{#
  ./templates/partials/widgets/search.html.twig
#}
<!-- Search Widget -->

<div class="card my-4">
  <h5 class="card-header">Rechercher une créature</h5>
<form class="" action="{{path('app.creatures.search')}}" method="get">
  <div class="card-body">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Mot-clé" name="search">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="submit">Go!</button>
      </span>
    </div>
  </div>
</form>
</div>
