{#
  ./templates/partials/widgets/tags.html.twig
#}
              <!-- Categories Widget -->
              <div class="card my-4">
                <h5 class="card-header">Tags</h5>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
											{{ render(controller('App\\Controller\\TagsController::indexAction', {
											              vue: 'liste',
																		limit:4

											})) }}
                    </div>

                  </div>
                </div>
              </div>
