<!DOCTYPE html>
<html lang="en">
	     <head>
      {% include 'partials/head.html.twig' with {title: block('title')} %}
      </head>
      <body>
        <!-- Navigation -->
          {% include 'partials/nav.html.twig' %}
        <!-- Page Content -->
        <div class="container">
          <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">
                  {% block content1 %}{% endblock %}
              <!-- Page Heading -->
            </div>
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
							{% include 'partials/widgets/search.html.twig' %}
							{% include 'partials/widgets/tags.html.twig' %}
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
        <!-- Footer -->
        {% include 'partials/footer.html.twig' %}
        <!-- Bootstrap core JavaScript -->
        {% include 'partials/scripts.html.twig' %}
      </body>
    </html>
